@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

:root {
    font-size: 62.5%; /* sempre 10px */
    letter-spacing: 0.9px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,175,239,1) 90%);
}

.container-main{
 background-color: #fff;
 width: 45rem;
 height: 70rem;
 margin-inline: auto;
 margin-block: 10rem;
 border-radius: .8rem;
 margin-top: 3rem;
}
.container-main h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;

}

form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2.5rem;

    font-size: 1.6rem;
}
form input{
 width: 70%;
 height: 4rem;
 margin-inline: auto;
 border-radius: .8rem;
 padding: 2rem;
 
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

button{
 width: 32rem;
 margin-top: 3rem;
 border: none;
 border-radius: .5rem;
 padding: 1rem;
 background-color: rgb(5, 145, 196) ;
 font-size: 2.5rem;
 cursor: pointer;
 color: #fff;
 transition: .5s;
}
button:hover{
    background-color: rgb(5, 104, 141) ;

}
 
.submit-button {
    font-size: 2.5rem;
    border-radius: .5rem;
    width: 32rem;
    padding: 1rem;
    cursor: pointer;
    background-color: #00AFEF;
    color: #FFFFFF;
    transition: .3s;
    border: none;
    text-decoration: none;
    text-align: center;
    
}
a:nth-child(odd)::hover {
    background-color: #00AC33;
}
   
form .btn-cadastro {
    display: flex;
    font-size: 2.5rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1.0rem;
    
}

.alert {
    font-size: 1.6rem;
    display: flex;
    margin: 1.0rem auto;
    width: 45rem;
}
