@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

:root {
    font-size: 62.5%; /* sempre 10px */
    letter-spacing: 0.9px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,175,239,1) 90%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.0rem auto;
}

main h1 {
    text-align: center;
    font-size: 3.0rem;

    text-transform: uppercase;
}

.container {
    background: #FFFFFF;
    padding: 2rem;
    width: 40rem;
    height: 50rem;
}

form {
    margin: 3rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: 2rem;
}

.wrapper label {
    display: flex;
    justify-content: start;
    font-size: 2.3rem;

    width: 10%;
}

.wrapper input {
    width: 90%;
    height: 2.7rem;
    padding: 1rem;

    font-weight: 300;
    font-size: 1.5rem;
}

.wrapper-esqueci-senha label{
    width: 50%;
}

.wrapper-esqueci-senha input {
    width: 60%;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin: 2rem auto 0;
}

.button-wrapper input {
    border-radius: 8px;
}

.button-wrapper a {
    color: #000000;

    font-size: 2.0rem;
}

.button-wrapper a:hover {
    color: #00AFEF;

    font-size: 2.0rem;
}

.submit-button {
    font-size: 2.3rem;

    width: 10rem;
    padding: 1rem;

    cursor: pointer;

    background-color: #00AFEF;
    color: #FFFFFF;

    border: none;
}

.submit-button:hover {
    background-color: #00AC33;
}

.createAcount {
    background-color: #0078a3;
    color: #FFFFFF;

    display: flex;
    gap: 1rem;
    align-items: center;

    margin: 7rem auto 0;
    padding: 1rem;
    border: none;

    font-size: 2.5rem;

    cursor: pointer;

}

.linkCreate {
    text-decoration: none;
}

.salvar {
    text-align: center;
    border-radius: 8px;
}