@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

:root {
    font-size: 62.5%; /* sempre 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,175,239,1) 90%);
}

.div-top {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 8px;
}

.div-grafico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;

}


th td {
    height: 4.0rem;
}

.col {
    padding-bottom: 4.0rem;
}


.center-th {
    text-align: center;
}

.botoes-adm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botoes-adm button {
    width: 20rem;

    margin-left: 1.0rem;
    border-radius: 8px;
    
    color: #000000;
    font-size: 2.0rem;

    border: none;    
}

.container h1 {
    margin-top: 3.0rem;
}

.container h2 {
    margin-left: 1.0rem;
}

h1 {
    width: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2.0rem;
}

.table {
    background-color: #FFFFFF;
}

.div-table {
    text-align: center;
    margin-top: 10rem;
    color: #000000;
}

.btn-td {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

  /* ini: Preloader */
  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.907);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.907);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}


 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */